---
const { frontmatter } = Astro.props;
import "../styles/markdown.css";
import personalPhoto from "../assets/personal_photo.png";
import { icon } from "@fortawesome/fontawesome-svg-core";
import { faMapMarkerAlt } from "@fortawesome/free-solid-svg-icons";
const mapIcon = icon({
  prefix: "fas",
  iconName: faMapMarkerAlt.iconName,
});
---

<html lang="en">
  <head>
    <title>{frontmatter.title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="flex flex-row space-x-5 w-full mt-0 m-0 bg-slate-300 text-slate-800 text-xl"
  >
    <aside
      class="pl-6 mx-0 max-w-60 min-w-60 sticky top-0 h-screen w-100 border-gray-100 bg-slate-900 px-2 py-0 sm:px-4;"
    >
      <div class="mt-7 ml-2 flex font-bold">
        <a class="text-lg text-yellow-100 p-2 rounded" href="/"
          >Back to Home Page</a
        >
      </div>
      <img
        class="mt-9 ml-5 w-36 h-36 rounded-full"
        src={personalPhoto.src}
        alt="Mohamed Tarek"
      />
      <div class="pl-3 text-white">
        <p class="text-2xl mb-3 font-bold">Mohamed Tarek</p>
        <p class="mt-2">Always learning.</p>
        <ul>
          <li class="flex">
            <span class="w-4 pt-1 mr-3">
              <Fragment set:html={mapIcon.html} />
            </span>
            <span> Sydney </span>
          </li>
          <!-- <li>
            <span class="w-4 pt-1 mr-3">
              <Fragment set:html={githubIcon.html} />
            </span>
            <span> GitHub </span>
          </li>
          <li>
            <span class="w-4 pt-1 mr-3">
              <Fragment set:html={linkedinIcon.html} />
            </span>
            <a
              href="https://www.linkedin.com/in/mabdelaty/"
              rel="nofollow noopener noreferrer"
              ><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</a
            >
          </li> -->
          <!-- 
          <li>
            <a
              href="https://www.youtube.com/@MrMohamed82008"
              rel="nofollow noopener noreferrer"
              ><i class="fab fa-youtube" aria-hidden="true"></i> YouTube</a
            >
          </li>
          <li>
            <a
              href="https://scholar.google.com.au/citations?user=um_AxkwAAAAJ&hl=en"
              rel="nofollow noopener noreferrer"
              ><i class="ai ai-google-scholar-square" aria-hidden="true"></i> Google
              Scholar</a
            >
          </li>
          <li>
            <a
              href="https://www.researchgate.net/profile/Mohamed-Tarek-18"
              rel="nofollow noopener noreferrer"
              ><i class="ai ai-researchgate-square" aria-hidden="true"></i> ResearchGate</a
            >
          </li>
          <li>
            <a
              href="https://arxiv.org/a/tarek_m_1.html"
              rel="nofollow noopener noreferrer"
              ><i class="ai ai-arxiv-square" aria-hidden="true"></i> arXiv</a
            >
          </li>

          <li>
            <a href="https://github.com/mohamed82008">GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mabdelaty/"></a> LinkedIn
          </li> -->
        </ul>
      </div>
    </aside>
    <main class="w-full">
      <nav
        class="sticky bg-slate-900 text-white top-0 shadow-md rounded-full h-16"
      >
        <h1 class="justify-center flex">
          {frontmatter.title}
        </h1>
      </nav>
      <article class="ml-2 mb-10 mt-8">
        <!-- Markdown content is injected here -->
        <!-- ... -->
        <slot />
      </article>
    </main>
  </body>
</html>

<style>
  @import "tailwindcss";
  main {
    @apply mt-4 pr-5 pl-10;
  }
  h1 {
    @apply pt-4 pb-0 text-3xl font-bold;
  }
</style>
