---
const { frontmatter } = Astro.props;
import IconCard from "../components/IconCard.astro";
import personalPhoto from "../assets/personal_photo.png";
import arxivIcon from "../assets/arxiv.ico";
import { icon } from "@fortawesome/fontawesome-svg-core";
import { faMapMarkerAlt } from "@fortawesome/free-solid-svg-icons";
import {
  faGithub,
  faYoutube,
  faLinkedin,
  faGoogleScholar,
  faResearchgate,
} from "@fortawesome/free-brands-svg-icons";
import "../styles/markdown.css";
---

<html lang="en">
  <head>
    <title>{frontmatter.title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <aside>
      <a class="text-lg text-white p-2" href="/">
        <img
          class="mt-5 w-26 h-26 flex ml-8 mr-8 rounded-full"
          src={personalPhoto.src}
          alt="Mohamed Tarek"
        />
        <p class="text-xl mb-3 mt-8 ml-4 font-bold text-orange-200">
          Mohamed Tarek
        </p>
      </a>
      <div class="text-white">
        <div class="pl-6 pt-3 text-lg">
          <IconCard icon={icon(faMapMarkerAlt)}> Sharjah </IconCard>
          <IconCard
            href="https://github.com/mohamed82008/"
            icon={icon(faGithub)}
          >
            GitHub
          </IconCard>
          <IconCard
            href="https://www.linkedin.com/in/mabdelaty/"
            icon={icon(faLinkedin)}
          >
            LinkedIn
          </IconCard>
          <IconCard
            href="https://www.youtube.com/@MrMohamed82008/"
            icon={icon(faYoutube)}
          >
            YouTube
          </IconCard>
          <IconCard
            href="https://scholar.google.com.au/citations?user=um_AxkwAAAAJ&hl=en/"
            icon={icon(faGoogleScholar)}
          >
            Google Scholar
          </IconCard>
          <IconCard
            href="https://www.researchgate.net/profile/Mohamed-Tarek-18/"
            icon={icon(faResearchgate)}
          >
            ResearchGate
          </IconCard>
          <IconCard href="https://arxiv.org/a/tarek_m_1.html/" path={arxivIcon}>
            arXiv
          </IconCard>
        </div>
      </div>
    </aside>
    <main>
      <nav>
        <h1>
          {frontmatter.title}
        </h1>
      </nav>
      <article>
        <!-- Markdown content is injected here -->
        <!-- ... -->
        <slot />
      </article>
    </main>
  </body>
</html>

<style>
  @import "tailwindcss";
  html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }
  main {
    @apply pr-5 pl-10 w-full;
  }
  aside {
    @apply pl-6 pt-15 mx-0 max-w-50 min-w-50 sticky top-0 h-screen w-100 h-full bg-slate-900 px-2 py-0 sm:px-4;
  }
  body {
    @apply flex flex-row space-x-5 w-full mt-0 m-0 bg-white text-gray-900 text-xl;
  }
  nav {
    @apply sticky bg-slate-900 text-white top-0 shadow-md rounded-full h-16;
  }
  article {
    @apply ml-6 mb-10 pt-5;
  }
  h1 {
    @apply pt-4 pb-0 text-3xl font-bold justify-center flex;
  }
</style>

<script>
  const anchorHeadings = document.querySelectorAll("h2, h3, h4, h5, h6");
  [...anchorHeadings].forEach((heading) => {
    const anchor = document.createElement("a");
    anchor.className = "text-black cursor-pointer";
    anchor.href = `#${heading.id}`;
    // Move heading's existing content into the anchor
    while (heading.firstChild) {
      anchor.appendChild(heading.firstChild);
    }
    // Append the anchor to the heading
    heading.appendChild(anchor);
  });
</script>
